{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moments</title>
    <link rel="stylesheet" href="{% static 'css/moment.css' %}">
    <script src="{% static 'js/azure-storage.blob.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
    <script src="http://cdn.rawgit.com/h2non/jsHashes/master/hashes.js"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script>
    </script>
</head>
<body>
<h1>Moments</h1>
<h2>
    <div class="info">
        <ul>
            <li>Moment ID: {{ moment.momentID }}</li>
            <li>Moment Name: {{ moment.name }}</li>
            <li>User's Name: {{ user.first_name }}</li>
            <li>Email: {{ user.email }}</li>
            <li>GoogleID: {{ user.profile.googleID }}</li>
            <li>Username: {{ user.username }}</li>
        </ul>
    </div>
    <input type="file" id="files" name="file">
    <button id="upload-button" class="btn btn-xs btn-primary" onclick="uploadBlobByStream(false)">Upload Moment</button>

    <ul id="images"></ul>
</h2>
</body>
</html>