.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgba(255, 253, 244,0.75);
  transition: 0.3s;
  border-radius: 5px;
    margin-top: 10%;
  margin-left: auto;
    width: 450px;
    height: 260px;
  margin-right: auto;
}

.container {
    padding: 2.2em;
    text-align: center;
}

#main-title{
    font-size: 35px;
}

@media (max-width: 450px) {
    .card{
        width:85%;
        height: 250px;
        margin-top: 43%;
    }
    .container {
        padding: 1em;
        text-align: center;
    }
    #main-title {
        font-size: 30px;
    }
}