{% extends 'base_template.html' %}
{% load static %}

{% block externalJS %}
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="133754882345-b044u4p8radcpasmq9s38sc3k0hiktsb.apps.googleusercontent.com">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}


{% block content %}
<div class="card">
  <div class="container">
      <div class="hero-section">
          <h1 id="main-title">Moment Sync</h1>
          <p class="subtitle">Sync Your Moments</p>
          <p class="tagline">Fast, Secure, & Simple</p>
          
          <div class="google-signin-container">
              <div class="g-signin2" data-onsuccess="onSignIn"></div>
          </div>
      </div>
      
      <div class="footer">
          <p class="footer-text">Made by Mark Zhang</p>
      </div>
  </div>
</div>
{% endblock %}